<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div>
            <button class="logout"> <a href="/logout">Log Out</a></button>
            <button class="addPetPage"> <a href="/petspage">Pet Selection</a></button>
            <button class="getmetrics"> <a href="/getmetrics">View Graphs</a></button>
        </div>
    </nav>
    <h2 class="petNameForPage">"Go back to pet selection and choose a pet</h2>
    <h3>Log pet metrics</h3>
    <h4>Relogging a duplicate day will overwrite the prior log</h4>
    <form method="" type="text" action="">
        <label>Date(required):</label>
        <input type="date" required="true" id="date">
        <div class="daily-function">
            <label>Weight: </label>
            <input name="weight"type="number" id="weight">
            <label>Appetite: </label>
            <input name="appetite"type="number" max="10" id="appetite">
            <label>Mood: </label>
            <input name="mood"type="number" id="mood">
            <label>Water intake: </label>
            <input name="water"type="number" id="water">
            <label>Times pet passed urine: </label>
            <input name="urine"type="number" id="urine">
            <label>Times pet passed stool: </label>
            <input name="stool"type="number" id="stool">
            <label>Stool consistency: </label>
            <input name="stoolConsistency"type="number" id="stoolConsistency">
            <label>Times vomited: </label>
            <input name="vomit"type="number" id="vomit">
            <button type="submit">CLICK</button>
        </div>
        </form>
        <h2>Logged dates</h2>
        <div>
            <ul class="dateList">

            </ul>
        </div>
        <script>
            const form = document.querySelector('form')
            const name = localStorage.getItem('currentPetName')
            document.querySelector('.petNameForPage').innerText = name[0].toUpperCase()+name.slice(1)
            const date = document.querySelector('#date')
            const weight = document.querySelector('#weight')
            const appetite = document.querySelector('#appetite')
            const mood = document.querySelector('#mood')
            const water = document.querySelector('#water')
            const urine = document.querySelector('#urine')
            const stool = document.querySelector('#stool')
            const stoolConsistency = document.querySelector('#stoolConsistency')
            const vomit = document.querySelector('#vomit')
            const display = document.querySelector('.error')
             form.addEventListener('submit', async (e) => {
                  try {
                  const res = await fetch('/api/pets/petMetrics', {
                    method: 'POST',
                    body: JSON.stringify({ 
                        name: name,
                        date: date.value,
                        weight: weight.value, 
                        appetite: appetite.value, 
                        mood: mood.value, 
                        water: water.value, 
                        urine: urine.value, 
                        stool: stool.value, 
                        stoolConsistency: stoolConsistency.value, 
                        vomit: vomit.value}),
                    headers: { 'Content-Type': 'application/json' }
                  })
                  const data = await res.json()

                  if(res.status === 400 || res.status === 401){
                   return display.textContent = `${data.message}. ${data.error ? data.error : ''}`
                  }
                } catch (err) {
                  console.log(err.message)
                }
              })


              const getLoggedDates = async () => {
        const dateList = document.querySelector(".dateList")

        try {
            const res = await fetch(`/api/pets/getLoggedMetrics/${name}`)
        const data = await res.json()
        console.log(data)
           if (!data) return
          else {
            const loggedDates = data.healthMetrics.map(pet => pet.date)
            loggedDates.forEach((date) => {
              let li = document.createElement("li")
              let btn = document.createElement("button")
              li.appendChild(document.createTextNode(date))
              btn.appendChild(document.createTextNode('Delete'))
              btn.addEventListener('click', (e) => {
                const date = e.target.parentNode.innerText.slice(0, -6);
                deleteMetric(date)
              })
              li.appendChild(btn)
              dateList.appendChild(li)
            })
        }
            }catch (err) {
                  console.log(err.message)
                }
            }

            async function deleteMetric(date) {
                const name = localStorage.getItem('currentPetName')
                try {
                  const res = await fetch('/api/pets/deleteMetric', {
                    method: 'POST',
                    body: JSON.stringify({ date: date, name: name }),
                    headers: { 'Content-Type': 'application/json' }
                  })
            } catch (err) {
                  console.log(err.message)
                }

                //I CAN"T GET THE PAGE TO RELOAD AFTER SUBMISSION?? FIX PLS.
                document.location.reload()
            }
      getLoggedDates()
          </script>

    </form>
</body>
</html>