<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Select Pet</title>
  <link rel="stylesheet" href="css/style.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,200;12..72,700&display=swap"
    rel="stylesheet">
</head>

<body>
<nav>
  <div class="navContainer">
    <p class="logo">Paws for Health</p>
    <div>
      <a class="getmetrics" href="/getmetrics"> View Graphs</a>
      <a class="logout" href="/logout">Log Out</a>
    </div>
  </div>
</nav>

  <section class="petSelectionContainer">
    <h2>Choose one of your pets to log daily activities for: </h2>
    <div class="petBtnContainer"></div>
  </section>

  <section class="containerHalf">
<section>
  <h2>Add a new pet below!</h1>
    <form>
      <div class="error" style="background-color: red;"></div><br>
      <label for="petName">Pet name</label><br>
      <input type="text" id="petName" required /><br>
      <label for="petSpecies">Pet species</label><br>
      <input type="text" id="petSpecies" required /><br>
      <label for="petAge">Pet age</label><br>
      <input type="number" id="petAge" required /><br>
      <input class="submitBtn" type="submit" value="Submit"><br>
    </form>
</section>
    <section>
      <img class="sophiaImg" src="./images/Sophiaspiderplant.jpg" alt="cat posing with plants">
    </section>
  </section>

    <script>
      const form = document.querySelector('form')
      const petName = document.querySelector('#petName')
      const petSpecies = document.querySelector('#petSpecies')
      const petAge = document.querySelector('#petAge')
      const display = document.querySelector('.error')
      form.addEventListener('submit', async (e) => {
        e.preventDefault()
        display.textContent = ''
        try {
          const res = await fetch('/api/pets/addPet', {
            method: 'POST',
            body: JSON.stringify({
              name: petName.value,
              age: petAge.value,
              species: petSpecies.value.toLowerCase(),
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          const data = await res.json()
          console.log(data)
          if (res.status === 400 || res.status === 401) {
            return display.textContent = `${data.message}. ${data.error ? data.error : ''}`
          }
          location.assign('/petspage')
        } catch (err) {
          console.log(err.message)
        }
      })



      const getPets = async () => {
        const btnContainer = document.querySelector(".petBtnContainer")
        try {
          const res = await fetch('/api/pets/getPets')
          const data = await res.json()
          console.log(data)
           if (data.petNames.length == 0) {
            btnContainer.innerText = "You currently don't have any pets logged! Please add a pet below."
            return
           }
          else {
            data.petNames.map((mappedPet) => {
              let btn = document.createElement("a")
              btn.href = '/petinfosubmit'
              btn.appendChild(document.createTextNode(mappedPet))
              btn.addEventListener('click', (e) => 
              localStorage.setItem('currentPetName', e.target.innerText))
              btnContainer.appendChild(btn)
            })
          }
        } catch (err) {
          console.log(err.message)
        }

        Array.from(document.querySelectorAll(".petNameBtns")).forEach(button => {
          console.log(button)
        button.addEventListener('click', () => {
          console.log('hi')
          localStorage.setItem('currentPetName', this.innerText)
          location.assign('/petinfosubmit')
        })
      })
      }
      getPets()

      
    </script>
</body>

</html>