<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav>
    <div>
      <button class="logout"> <a href="/logout">Log Out</a></button>
    </div>
  </nav>
  <h2>Choose a pet</h2>
  <div class="petBtnContainer"></div>
  <h2>Add a pet</h1>
    <form>
      <div class="error" style="background-color: red;"></div><br>
      <label for="petName">Pet name</label><br>
      <input type="text" id="petName" required /><br>
      <label for="petSpecies">Pet species</label><br>
      <input type="text" id="petSpecies" required /><br>
      <label for="petAge">Pet age</label><br>
      <input type="number" id="petAge" required /><br>
      <input type="submit" value="savePet"><br>
    </form>
    <script>
      const form = document.querySelector('form')
      const petName = document.querySelector('#petName')
      const petSpecies = document.querySelector('#petSpecies')
      const petAge = document.querySelector('#petAge')
      const display = document.querySelector('.error')
      form.addEventListener('submit', async (e) => {
        e.preventDefault()
        display.textContent = ''
        try {
          const res = await fetch('/api/pets/addPet', {
            method: 'POST',
            body: JSON.stringify({
              name: petName.value.toLowerCase(),
              age: petAge.value,
              species: petSpecies.value.toLowerCase(),
              username: localStorage.getItem("currentUsername")
            }),
            headers: {
              'Content-Type': 'application/json'
            }
          })
          const data = await res.json()
          console.log(data)
          if (res.status === 400 || res.status === 401) {
            return display.textContent = `${data.message}. ${data.error ? data.error : ''}`
          }
          location.assign('/petspage')
        } catch (err) {
          console.log(err.message)
        }
      })



      const getPets = async () => {
        const btnContainer = document.querySelector(".petBtnContainer")
        try {
          const res = await fetch('/api/pets/getPets')
          const data = await res.json()
          console.log(data)
          if (!data) return
          else {
            data.petNames.map((mappedUser) => {
              console.log(mappedUser)
              let a = `<a href='/petinfosubmit'> ${mappedUser} </a>`
              btnContainer.innerHTML += a
            })
          }
        } catch (err) {
          console.log(err.message)
        }
      }
      getPets()
    </script>
</body>

</html>